<html>
<head>
	<title> Smol phone server version 1.0 
	</title> 
 	<meta name="viewport" 
content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	      		
	<h1> Welcome to smol phone server 
version 1.0 
</h1>

        <img src="img/baby-harp-seal.jpeg">
	<a id="info">
	    
	<p> Current time: <%= dateTime %> </p>
	<p> OS Platform: <%= osPlatform %> </p>
	<p> OS Release: <%= osRelease %> </p>
	<p> OS Total Memory: <%= osTotalMem %> </p>
	<p> OS Architecture: <%= osArch %> </p>
</body>


</html>
